@model IEnumerable<OnlineStore.Web.Models.LineItemViewModel>

@{
    ViewBag.Title = "GetLineItems";
}

@{
    double totalCost = 0.0;
    foreach (var model in Model)
    {
        totalCost += model.Count * Double.Parse(model.ProductViewModel.Price);
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductViewModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProductViewModel.Price)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductViewModel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductViewModel.Price)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteLineItem", new { id = item.Id })
            </td>
        </tr>
       
    }


</table>

<div class="col-md-offset-9 col-md-10">
    <p> Общая стоимость: &nbsp; <span style='font-size: 20px'><strong> @totalCost  руб.</strong></span></p>
</div>

<div>
    @Html.ActionLink("Back to List", "GetOrders")
</div>
