@model OnlineStore.Web.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login to your account</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>
            <label>Email</label><br />
            @Html.EditorFor(x => x.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </p>

        <p>
            <label>Password</label><br />
            @Html.EditorFor(x => x.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </p>
        <p><button class="btn btn-default" type="submit">Login</button>  <span>@Html.ActionLink("Lost your password", "LostPassword", "Account")</span></p>
    </div>
    <div>
        <p>If you don't have an account - @Html.ActionLink("Register", "Register", "Account")</p>

    </div>
}

