<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <li>@Html.ActionLink("Get Orders", "GetOrders", "Order")</li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Store management<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Add Products", "AddProduct", "Product")</li>

                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Add Companies", "AddCompany", "Company")</li>
                                <li>@Html.ActionLink("Get Companies", "GetCompanies", "Company")</li>
                                <li role="separator" class="divider"></li>

                                <li>@Html.ActionLink("Add Categories", "AddCategory", "Category")</li>
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("Get Orders", "GetOrdersForUser", "Order")</li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Cart", "Home")"><span class="glyphicon glyphicon-shopping-cart">Cart</span></a></li>
                </ul>

                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">My account<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Edit profile", "EditProfile", "Account") </li>
                                <li>@Html.ActionLink("Edit password", "EditPassword", "Account") </li>

                                @if (User.IsInRole("Admin"))
                                {
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Add Managers", "AddManager", "Account")</li>
                                }
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Sign out", "Logout", "Account") </li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Login", "Login", "Account") </li>
                        <li>@Html.ActionLink("Register", "Register", "Account") </li>
                    </ul>
                }

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <br/>
<footer class="container" style="background-color: gainsboro;">
    <br/>
        <div class="row" style="text-align: center">
            <div class="col-lg-4">
                <a href="#">About company</a>
            </div>
            <div class="col-lg-4">
                <a href="#">Special offers</a>
            </div>
            <div class="col-lg-4">
                <a href="#">Information</a>
            </div>
        </div>
        <br />
        <p align="center">© 2017–2018</p>
    </footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@Scripts.Render("~/scripts/cart.js")

</body>

</html>
